.dialog-btn{
    border: none;
    margin-bottom: 5px;
    background: #bccbde;
    color:#000;
    border-radius: 8px;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 700;
    padding: 5px 15px;
}
.graph-row{
    margin: 10px 0px;
    display: flex;
}
.container{
    margin-top: 10px ;
}
.loader-container{
    height: 300px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}